
<!-- <ion-content [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()"
  [scrollX]="true"
  [scrollY]="true"
  [fullscreen]="true">
  <div class="teste">
    <img src="assets/imgs/mapa.jpg"> 
  </div>  
</ion-content> -->
<ion-content [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()"
[scrollX]="true"
[scrollY]="true"
[fullscreen]="true" >
  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="assets/imgs/mapa.jpg"> 
      </div>      
    </ion-slide>
  </ion-slides>
</ion-content>




